@{
    ViewBag.Title = "List of Frameworks";
}
<h2>Frameworks</h2>
<ul>
    <li>AngularJS (<A href="http://angularjs.org/" target="new">Site</A>)</li>
    <li>@Html.ActionLink("Backbone", "Index", "Backbone") (<A href="http://backbonejs.org" target="new">Site</A>)</li>
    <li>Knockout (<A href="http://knockoutjs.com/" target="new">Site</A>)</li>
</ul>