.searchLeftBar .control-group {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.searchLeftBar .control-label {
    width: 55px !important;
}
.searchLeftBar .controls {
    margin-left: 60px !important;
}
.searchLeftBar legend {
    margin-bottom: 0px !important;
}
.searchLeftBar {
    border-radius: 6px 6px 6px 6px;
    background-color:#DCEAF4;
    padding:0px 5px 5px 5px;
}
.searchLeftBar form {
    margin : 0px !important;
}
body {
    padding-top: 60px;
    padding-bottom: 20px;
    height: 100%;
    margin-bottom: 1px; 
}
.moviePlan {
    border-radius: 6px 6px 6px 6px;
}
.searchResults 
{
    padding-right:8px;
}
.searchResults .pagination ul > li > a, .searchResults .pagination ul > li > span 
{
    line-height: 30px !important;
    padding: 0 10px !important;
}
html {
       overflow-y: scroll;
}
.searchResults .pagination ul > .disabled > span, 
.searchResults .pagination ul > .disabled > a, 
.searchResults .pagination ul > .disabled > a:hover 
{
    background-color:#FFFFFF !important;
}
.searchResults .pagination 
{
    margin:0px !important;
}
.moviePlan table .table th, .moviePlan .table td
{
    padding: 0px;
}
#dropinfo
{
    clear: left;
    margin: 5px;
}
.draghandle
{
    border: 1px solid;
    background-color: #fff;
}
.draghandle .img-polaroid
{
    height: 62px;
}
div.moviePlan table.table tbody td 
{
    width: 109px;
    height: 109px;
}
div.moviePlan td.droptarget
{
    background-color:Yellow;
    text-align:center;
    vertical-align:middle;
}